@font-face {
    font-family: saria;
    src: url(./Assets/Fonts/SairaExtraCondensed-Medium.ttf);
}

@font-face {
    font-family: playwrite;
    src: url(./Assets/Fonts/playwrite.ttf);
}

@font-face {
    font-family: Futura Light;
    src: url(./Assets/Fonts/futura/intrepid.ttf);
}

*   {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #5b5b5b;
    max-width: 100%;
    max-height: 100%;
}

/* 
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ************************
*    ************************
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ***                  ***

 */

nav   {
    padding: .5vh 2vw;
    background-color: #1e1e1e;
    display: flex;
    flex-wrap: wrap;
    max-width: inherit;
    max-height: inherit;
    justify-content: space-between;
    align-items: center;
}

.navicon {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: hover 300ms ease;
}

.navicon span:nth-child(1) {
    font-family: playwrite;
    margin-right: .5vw;
    font-size: 2vw;
}

.navicon span:nth-child(2) {
    font-family: saria;
    font-size: 3vw;
}

.navicon:hover span:nth-child(2) {
    color: orange;
}

nav ul {
    background: transparent;
    display: flex;
    gap: 1vw;
    justify-content: space-around;
    align-items: center;
    max-height: inherit;
}
nav ul li   {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a   {
    font-size: 1.3vw;
    background: transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    transition: hover 0.5s ease hover;
    cursor: pointer;
}

nav ul li a::before   {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.3vw;
    width: 0;
    height: .2vw;
    background-color: orange;
    transition: width 0.5s ease;
}

nav ul li a:hover::before   {
    width: 100%;
}


nav a   {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.connect_button {
    cursor: pointer;
    position: relative;
    padding: .5vw 2vw;
    font-size: 1.5vw;
    color: orange;
    border: .25vw solid orange;
    border-radius: 2vw;
    background-color: transparent;
    font-weight: 600;
    transition: hover 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.connect_button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 3.5vw;
    height: 3vh;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: orange;
    transition: hover 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.connect_button:hover::before {
    scale: 3;
}

.connect_button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0vw 3vw rgba(193, 163, 98,0.4);
    transform: rotate(-2deg);
}

.connect_button:active {
    scale: 1;
}


/*
 *    ******              ******
 *    *******            *******
 *    ***   ***         ***  ***
 *    ***     ***     ***    ***
 *    ***       *** ***      ***
 *    ***        *****       ***
 *    ***                    ***
 *    ***                    ***
 *    ***                    ***
 *    ***                    ***
 */

main {
    background-color: #1e1e1e;
    max-width: 100%;
    margin-top: 1vw;
    padding: 5vw 0;
    display: flex;
    flex-direction: column;
    gap: 10vw;
}

/* * Home */

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.detail h1   {
    font-size: 3.2vw;
    color: #8e8e8e;
    font-family: sans-serif;
}

.firstname   {
    color: #ffffff;
    font-size: 5.5vw;
    font-family: playwrite;
    font-weight: lighter;
}

.lastname   {
    font-size: 8vw;
    color: orange;
    font-family: saria;
    font-weight: lighter;
}

.introline p {
    color: #8e8e8e;
    font-family: My Font1;
    font-size: 2vw;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    opacity: 0; /* Start with text hidden */
    animation: 
            typing 3.5s steps(40, end) forwards,
            blink-caret .75s step-end infinite,
            fadeIn 0.5s forwards;
}

@keyframes typing {
    0% { width: 0; border-right: .15em solid orange; }
    100% { width: 100% ; border-right: none; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}





.sociallinks {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    max-width: min-content;
}

.sociallinks li {
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
    padding-right: 1vw;
}

.sociallinks li a {
    text-decoration: none;
    background: transparent;
}

.sociallinks li button {
    display: flex;
    align-items: center;
    background: transparent;
    padding: .5vw 1vw;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2vw;
    transition: hover 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    border: none;
    overflow: hidden;
    white-space: nowrap;
}

.sociallinks li button i {
    color: orange;
}

.sociallinks li button .app_name {
    color: transparent;
    margin-left: .5vw;
    font-size: 1.3vw;
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition:  max-width 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.sociallinks li button:hover .app_name {
    opacity: 1;
    max-width: 8vw;
    color: white;
    background: inherit;
}

.linkedin_button:hover {
    color: #ffffff;
    background: #0A78B5;
}

.instagram_button:hover {
    color: #ffffff;
    background: linear-gradient(45deg, #854cab, #e34c4c, #ffba5a);
}

.github_button:hover {
    color: #ffffff;
    background: rgb(98, 98, 98);
}

.twitter_button:hover {
    color: #ffffff;
    background: #249EF0;
}

.whatsapp_button:hover {
    color: #ffffff;
    background: #4BCA59;
}

.sociallinks li button:hover i {
    color: white;
}

.display   {
    height: 28vw;
    width: 28vw;
    background-color: rgb(0, 0, 0);
    border-radius: 60% 40% 16% 84% / 75% 85% 15% 25%;
    border: solid .3vw rgba(255, 174, 0, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: hover ease 200ms;
}

.display:hover {
    filter: drop-shadow(orange 0 0 1vw);
}

.display img   {
    max-width: 20vw;
    transition: hover ease 100ms;
}

.display:hover img {
    transform: scale(1.15);
}

/* * Projects */

.projectsHeading {
    background-color: orange;
    padding: .5vw;
}

.projectsHeading h1 {
    font-size: 2vw;
}

.projectCardContainer {
    margin-top: 5vw;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    row-gap: 5vw;
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    width: 15vw;
}

/*
 *    ************
 *    ************
 *    ***
 *    ***
 *    ***
 *    *******
 *    *******
 *    ***
 *    ***
 *    ***
 *    ***
 */

footer   {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 1.8vw 0 1.8vw 0;
    max-width: 100%;
    background-color: #000000;
}

.contacts {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.phone , .email, .location {
    display: flex;
    align-items: center;
    filter: opacity(75%);
    transition: hover 100ms;
    cursor: pointer;
}

.phone:hover, .email:hover, .location:hover{
    filter: opacity(100%);
}

.phone p, .email p, .location p{
    font-family: sans-serif;
    color: white;
    display: flex;
}


.contacts div p a {
    color: white;
    font-size: 1.3vw;
    text-decoration: none;
}



.copyright {
    width: 100%;
    color: #8e8e8e;
    font-size: 1.4vw;
    text-align: center;
    padding-top: .4vw;
    padding-bottom: .4vw;
}

/* *ScrollBar* */

::-webkit-scrollbar {
    width: 1.2vw;
}

::-webkit-scrollbar-track   {
    background-color: #000000;
    border: solid .3vw orange;
}

::-webkit-scrollbar-thumb   {
    background-color: orange;
    border: solid .4vw #000000;
}