@font-face {
    font-family: saria;
    src: url(/Assets/Fonts/SairaExtraCondensed-Medium.ttf);
}

@font-face {
    font-family: playwrite;
    src: url(/Assets/Fonts/playwrite.ttf);
}

@font-face {
    font-family: Futura Light;
    src: url(/Assets/Fonts/futura/intrepid.ttf);
}

*   {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #5b5b5b;
    max-width: 100%;
    max-height: 100%;
}

/* 
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ************************
*    ************************
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ***                  ***
*    ***                  ***

 */

nav   {
    padding: .5vh 2vw;
    background-color: #1e1e1e;
    display: flex;
    flex-wrap: wrap;
    max-width: inherit;
    max-height: inherit;
    justify-content: space-between;
    align-items: center;
}

.navicon {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: hover 300ms ease;
}

.navicon span:nth-child(1) {
    font-family: playwrite;
    margin-right: .5vw;
    font-size: 2vw;
}

.navicon span:nth-child(2) {
    font-family: saria;
    font-size: 3vw;
}

.navicon:hover span:nth-child(2) {
    color: orange;
}

nav ul {
    background: transparent;
    display: flex;
    gap: 1vw;
    justify-content: space-around;
    align-items: center;
    max-height: inherit;
}
nav ul li   {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a   {
    font-size: 1.3vw;
    background: transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    transition: hover 0.5s ease hover;
    cursor: pointer;
}

nav ul li a::before   {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.3vw;
    width: 0;
    height: .2vw;
    background-color: orange;
    transition: hover 0.5s ease;
}

nav ul li a:hover   {
    color: white;
}

nav ul li a:hover::before   {
    width: 100%;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: orange;
    transition: hover 0.4s ease;
    z-index: -1;
}

nav ul li a:hover::after   {
    height: 100%;

}

nav a   {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.connect_button {
    cursor: pointer;
    position: relative;
    padding: .5vw 2vw;
    font-size: 1.5vw;
    color: orange;
    border: .25vw solid orange;
    border-radius: 2vw;
    background-color: transparent;
    font-weight: 600;
    transition: hover 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.connect_button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 3.5vw;
    height: 3vh;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: orange;
    transition: hover 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.connect_button:hover::before {
    scale: 3;
}

.connect_button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0vw 3vw rgba(193, 163, 98,0.4);
    transform: rotate(-2deg);
}

.connect_button:active {
    scale: 1;
}
footer   {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 1.8vw 0 1.8vw 0;
    max-width: 100%;
    background-color: #000000;
}

.contacts {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.phone , .email, .location {
    display: flex;
    align-items: center;
    filter: opacity(75%);
    transition: hover 100ms;
    cursor: pointer;
}

.phone:hover, .email:hover, .location:hover{
    filter: opacity(100%);
}

.phone p, .email p, .location p{
    font-family: sans-serif;
    color: white;
    display: flex;
}


.contacts div p a {
    color: white;
    font-size: 1.3vw;
    text-decoration: none;
}



.copyright {
    width: 100%;
    color: #8e8e8e;
    font-size: 1.4vw;
    text-align: center;
    padding-top: .4vw;
    padding-bottom: .4vw;
}

/* *ScrollBar* */

::-webkit-scrollbar {
    width: 1.2vw;
}

::-webkit-scrollbar-track   {
    background-color: #000000;
    border: solid .3vw orange;
}

::-webkit-scrollbar-thumb   {
    background-color: orange;
    border: solid .4vw #000000;
}